

.footer {
    background-color: rgba(1,75,135,255);
    text-align: center;
    color: white;
    text-decoration: none;
}

.footer-link{
    text-decoration: none;
    color: white;
}


.header-component{
    padding: 15px;
    margin: auto;
    text-decoration: none;
    color: black; 
    
}

.header-component:hover{
    color: rgb(20, 75, 153);
}

.header-buttom{
    background-color: transparent;
    border: none;
}

.header-inicio{
    font-size: 20px;
}

.header-perfil{
    font-size: 14px;
}

#header-perfil-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.nav{
    background-color:rgba(1,75,135,255) ;
}

.nav-list{
    text-align: center;

}

.nav-item{
    display: inline-block;
    padding: 10px;
}

.nav-link{
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 22px;
}


.estudiante > div {
    display: flex;
    flex-wrap: wrap; /*pemite que las tarjetas pasen a la siguiente fila si no caben */
    gap: 20px; /*espacio entre tarjetas */
    justify-content: center; 
}

.estudiante > div > div {
    background: rgb(239, 236, 236); /*color de fondo */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /*para dar sombra a las tarjetas*/
}


.estudiante-img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

