
body{
    font-family: 'Times New Roman', Times, serif;
}



header{
    height: 350px;
    margin: 0;
    background-color:  rgb(20, 75, 153);
    display: flex;
    gap: 10px; /* Espacio entre los elementos */
    

}

h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    display: inline;
    font-size: 40px;
}

header h1, header h3 {
    margin: 0; /* Elimina márgenes extra */
    display: inline-block; /* Hace que se comporten en línea */
    padding-top: 50px;
}

#perfil-img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 25px;
    display: inline;

}

.box-contacto{
    margin: 0;
    width: 500px;
    height: 1000px;
    background-color: rgb(56, 156, 244);
}




/*

.header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    
    
}

#header-img{
    width: 100px;
    height: 100px;
}

h1{
    font-size: 40px;
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.contenedor {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    margin-top: 30px ;
    background-color: #f4f8fc;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.header-contenedor {
    background-color: rgb(20, 75, 153);
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 5px;
}

.casilla-section {
    width: 50%;
    padding: 5px;
}

label {
    font-weight: bold;
    display: block;
}

.valor {
    display: block;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}

.small-field {
    width: 20%;
}



.educacion-superior {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #d9eaf7;
}

*/