

.footer {
    background-color: rgba(1,75,135,255);
    text-align: center;
    color: white;
    text-decoration: none;
}

.footer-link{
    text-decoration: none;
    color: white;
}


.header-component{
    padding: 15px;
    margin: auto;
    text-decoration: none;
    color: black; 
    
}

.header-component:hover{
    color: rgb(20, 75, 153);
}

.header-buttom{
    background-color: transparent;
    border: none;
}

.header-inicio{
    font-size: 20px;
}

.header-perfil{
    font-size: 14px;
}

#header-perfil-img{
    border-radius: 100%;
}


.nav{
    background-color:rgba(1,75,135,255) ;
}

.nav-list{
    text-align: center;

}

.nav-item{
    display: inline-block;
    padding: 10px;
}

.nav-link{
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 22px;
}





.estudiante-img{

}